body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 h2 {
  color: #161108;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

h5 {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #161108;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

Condition:first-letter {
  text-transform: capitalize;
}

.container {
  background-image: url("..src/images/art.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  max-width: 450px;
  margin: 30px auto;
}

.weather-app-wrapper {
  text-align: center;
  font-weight: bold;
}

.weather-app {
  border: 1px solid #745e54;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature strong {
  color: rgb(150, 81, 3);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(150, 81, 3);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: underline;
}
.weather-forecast {
  margin-top: 10px;
}
